<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        One of three columns
      </div>
      <div class="col-sm-4">
        One of three columns
      </div>
      <div class="col-sm-4">
        {{ content }}
      </div>
    </div>
  </div>
  <!-- /.container -->
  {% include footer.html %}
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</body>

</html>
